@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-prev,
.slick-next {
  width: 50px !important;
  height: 50px !important;
  /* background: #373435 !important; */
  border-radius: 0 !important;
  /* padding: 1px 0 0 0 !important; */
  z-index: 10 !important;
  /* top: 37% !important; */
}

.slick-prev:before,
.slick-next:before {
  opacity: unset !important;
  color: #00000040 !important;
  font-size: 50px !important;
  content: unset !important;
}

.slider-category>.slick-next {
  /* right: -41px !important; */
  top: 35% !important;
}

.slider-category>.slick-prev {
  left: -35px !important;
  top: 35% !important;
}

th, td {
  @apply border border-gray-500 p-1
}

nav {
  @apply flex bg-white px-8 w-full justify-center fixed z-30
}

.nav-container {
  @apply w-[90rem] flex items-center justify-between
}

/* .nav-container>ul {
  @apply flex space-x-6
} */

/* .nav-container>ul>li {
  @apply relative py-6 px-4 border-b-4 border-transparent hover:border-primary
} */

/* .nav-container>ul>li>span {
  @apply text-sm font-extrabold opacity-70 uppercase hover:cursor-pointer
} */

/* .nav-container>ul>li>.menu-container {
  @apply absolute p-8 px-12 bg-white mt-7 border-t-2 border-primary rounded-b-xl drop-shadow-xl hidden flex-col
} */

.panduan-container {
  @apply flex flex-col p-8 px-16
}

.item-cat {
  @apply text-sm border-b py-1 font-medium hover:text-primary hover:cursor-pointer tracking-tighter
}

.title-cat {
  @apply text-primary text-base py-3
}

.title-card {
  @apply text-2xl font-bold tracking-tighter
}

.desc-card {
  @apply text-sm text-gray-500
}

.btn-rounded {
  @apply py-2 px-5 text-gray-400 border border-gray-300 rounded-full hover:bg-primary hover:text-white hover:border-primary duration-300
}

.btn-rounded-panduan {
  @apply mt-4 bg-primary py-2 w-full text-white text-sm tracking-wide rounded-sm uppercase border border-primary hover:bg-white hover:text-primary duration-300
}

.shadow-card {
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
}

.shadow-card-peluang {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

ul {
  margin: 1rem 2.5rem;
  list-style-type: disc;
}

/* Youtube Video Player */
.player-wrap-outer {  
  @apply relative
}

.player-wrap {
  @apply inline-block relative w-full rounded-xl
}

.player-wrap > iframe {
  @apply w-full rounded-xl aspect-video
}

.player-wrap.paused::after, .player-wrap.ended::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(.75);
  opacity: 1;
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.icon-button {
  display: none;
}

.icon-button.paused, .icon-button.ended{  
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* width */
.preferensi-scroll::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.preferensi-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 10px;
}

/* Handle */
.preferensi-scroll::-webkit-scrollbar-thumb {
  background: #FEC600; 
  border-radius: 10px;
}

/* Handle on hover */
.preferensi-scroll::-webkit-scrollbar-thumb:hover {
  background: #FFDE00;
}